
@font-face {
    font-family: "Casper";
    font-weight: 400;
    src: url("../font/casper-webfont.woff");
}
@font-face {
    font-family: "Casper Bold";
    font-weight: 800;
    src: url("../font/casper_bold-webfont.woff..");
}
@font-face {
    font-family: "Casper Italic";
    src: url("/font/casper_italic-webfont.woff");
}
@font-face {
    font-family: "Casper Bold Italic";
    src: url("../font/casper_bold_italic-webfont.woff");
}
:root {
    font-family: Casper;
    text-rendering: optimizeLegibility !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}
html, body {
    height: 100%;
}
.navbar-top {
    background: none repeat scroll 0 0 rgb(190, 190, 190);
    display: none;
    height: 40px;
    line-height: 40px;
    opacity: 0.9;
    position: fixed;
    width: 100%;
    z-index: 999;
}
.nav-left {
    color: #333;
    float: left;
    margin-left: 15%;
}
.nav-divider {
    background-color: red;
    width: 2%;
}
.nav-title {
    font-size: 1.8em;
    font-weight: 400;
    letter-spacing: 2px;
}
.nav-right {
    float: right;
    margin-right: 15%;
}
.nav-login {
    font-size: 1.2em;
}
#landing {
    background: url("../img/grid.svg") repeat scroll 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 3px 8px 3px black;
    color: #333;
    height: 100%;
    position: relative;
    width: 100%;
}
#landing nav {
    height: 5%;
    padding: 20px;
    position: relative;
    vertical-align: middle;
}
.landing {
    margin: auto;
    padding: 2%;
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-75%);
}
.landing h1 {
    font-size: 12em;
    font-weight: 400;
}
.landing h3 {
    font-size: 4em;
    font-weight: 400;
}
.box {
    height: 32px;
    width: 32px;
}
span.login {
    float: right;
    font-size: 1.5em;
    margin-right: 10%;
}
.landing p {
    font-size: 1.8em;
    margin: 0 8%;
    padding: 8px;
}
#page1 {
    background-image: url("../img/dark_wall.png");
    background-repeat: repeat;
    height: auto;
    padding: 8%;
    width: inherit;
}
#page1 h1 {
    color: #333;
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 8px;
    margin-left: 24px;
    text-align: left;
    text-transform: uppercase;
    transform: skewX(20deg);
}
.title-container {
    background: linear-gradient(to bottom, rgba(238, 238, 238, 1) 0%, rgba(238, 238, 238, 1) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    box-shadow: 2px 2px 2px 2px;
    font-family: Dosis;
    margin-bottom: 8%;
    padding: 10px;
    position: relative;
    text-align: center;
    transform: skewX(-20deg);
    width: 22em;
}
.title-description {
    background: linear-gradient(to bottom, rgba(255, 48, 25, 1) 0%, rgba(207, 4, 4, 1) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    box-shadow: 2px 2px 2px 2px;
    font-weight: 400;
    left: 30%;
    padding: 2% 1% 2% 5%;
    position: absolute;
    text-align: left;
    width: 70%;
}
.title-description p {
    color: #292929;
    font-size: 1.2em;
    font-weight: 600;
    text-transform: uppercase;
    transform: skewX(20deg);
}
.panel {
    background-color: rgb(24, 24, 24);
    border-radius: 10px;
    color: white;
    height: auto;
    left: -100%;
    margin-bottom: 5%;
    opacity: 0;
    padding: 20px;
    position: relative;
    transition: all 1s ease-in-out 0s;
    width: 100%;
}
.panel-displayed {
    left: 0;
    opacity: 1;
}
.panel-left {
    text-align: left;
}
.panel-right {
    text-align: right;
}
.panel h3 {
    font-family: Dosis;
    font-size: 3em;
    font-weight: 400;
    letter-spacing: 0.05em;
    padding: 5px 0 20px;
    text-transform: uppercase;
}
.panel p {
    font-size: 20px;
    line-height: 25px;
}
.panel-logo {
    display: inline-block;
    height: 100%;
}
.panel-content {
    display: inline-block;
    position: relative;
    transform: translateY(-4%);
    width: 80%;
}
.empty-space-yolo {
    height: 200px;
}
